<a href="https://colab.research.google.com/github/TEJ66/pythonlab/blob/main/13122021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("This is Tejesh Pokuru")

This is Tejesh Pokuru

In [6]:
thistuple=("orange","apple","banana",)
del thistuple
print(thistuple)

SyntaxError: ignored

In [7]:
fruits=("mango","strawberry","blueberry")
(red,orange,green)=fruits
print(orange)
print(red)
print(green)

strawberry
mango
blueberry

In [ ]:
fruits=("orange","mango","rasberry")
(*blue,*green,*red)
print(blue)
print(green)
print(red)

In [ ]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

In [ ]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

In [ ]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

In [ ]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

In [ ]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)